{% extends 'base.html.twig' %}

{% block title %}Logowanie{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="h3 mb-3 font-weight-normal">Panel logowania</h1>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 padding-sm">
                <label for="inputEmail" class="sr-only">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 padding-sm">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <button class="btn btn-lg btn-primary btn-md" type="submit">
                    Zaloguj
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </div>
        </div>
    </div>




    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}


</form>
{% endblock %}
