{% extends 'base.html.twig' %}

{% block title %}Hello Add Cat!{% endblock %}

{% block body %}
    {{form_start(form)}}
    {{form_row(form.name)}}
    <button type="submit">add</button>
    {{form_end(form)}}
{% endblock %}
