{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>{{category_name}}</h4>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul>
                    {% for a in articles %}
                    <li>
                        <a href="{{ ('/article/' ~ a.article.id) | url}}">{{a.article.title}}</a>  <br>
                        {{a.article.content}} <br>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}