{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    {# {{form_start(form)}}
    <div class="categories-form" data-prototype="{{ form_widget(form.categories.vars.prototype)|e('html_attr') }}">

        {% for category in form.categories %}
            {{form_row(category)}}
        {% endfor %}
        <div class="added-forms"></div>
        <button type="button" class="add_tag_link">Add a tag</button>

        <hr>
        <button type="submit">Dodaj</button>
    {{form_end(form)}} #}
</div>


{% endblock %}
