.box_container {
    width:50%;
    display: block;
    height: auto;
    float:left;

    .block {
        border:1px solid #ececec;
        margin:5px;
        padding:3px;
        border-radius: 5px;
        .block_title {
            font-size: 20px;
            color:grey;
            text-align: center;
            padding: 9px;
            border-bottom:1px solid #ececec;
        }
        .block_content {
            padding:5px;

        }
        .block_foot {
            text-align: right;
            font-size: 13px;
        }
    }
}


.logo-img {
    margin:0 auto;
    display: block;
}