.article-content-textarea {
    height: 100% !important;
}
.simple-border {
    border:1px solid grey;
    padding:5px;
    text-align: center;
    border-radius: 10px;;
}

.image-article {
    width:100%;
    height:auto;
    display: block;
    border-radius: 10px;
}

.article-content {
    background-color: #dcdcdc1f;
    border-radius: 10px;
    border:1px solid rgba(165, 165, 165, 0.63);
    padding:20px;
}
.padding-sm {
    padding:5px;
}

.remove-tag {
    float:right;
}
.space-top {
    margin-top:5px;
}