{% extends 'base.html.twig' %}

{% block title %}Rejestracja{% endblock%}


{% block body %}
<h3>Rejestracja</h3>
<hr>
{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password.first) }}
    {{form_row(form.password.second) }}
    <br>
    <button type="submit" class="btn btn-success">Zarejestruj się</button>
{{ form_end(form) }}

{% endblock %}