<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{'main.title' | trans}}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>


<div class="container">
    <div class="row">
        <div class="col">
            {% include 'default/alert.html.twig' %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            {% block header %}
            <img src="/gfx/news-logo.png" alt="" class="logo-img">
                <h2>
                    {{'NEWSPAPER' | trans}}
                </h2> <br>
                <ul class="list-group">
                    <li  class="list-group-item">
                        <a href=" {{ path("main_index")}}">{{'Artykuły' | trans}}</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') == true %}
                    <li  class="list-group-item">
                        <a href="{{ path('add_article') }}">{{'Dodaj artykul' | trans}}</a>
                    </li>
                {% endif %}
        
            </ul>
            <hr>
            <div class="row">
                {% if app.user %}
                    <div class="col-sm-12">
                        {{'Welcome'|trans}} {{app.user.getUsername()}} 
                    </div><br>
                    <div class="col-sm-12">
                        <a class="btn btn-secondary " href="/logout">{{'Logout' | trans}}</a>
                    </div>
                {% else %}
                <div class="col-sm-12 padding-sm">
                    <a class="btn btn-primary " href=" {{ "/login" | url }}">{{'Login' | trans}}</a>
                </div>
                <div class="col-sm-12 padding-sm">
                    <a class="btn btn-success " href=" {{ "/register" | url }}">{{'Register' | trans}}</a>
                </div>
                {% endif %}
            </div>
            <br>

            {{ render(controller('App\\Controller\\WidgetController::index')) }}

            {% endblock %}
        </div>
        <div class="col-sm-9">

            {% block body %}
                {{'main.main_description' | trans}}
            {% endblock %}


        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <br>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                Copiright @ Damian
            </div>
        </div>
    </div>
</div>
{{ encore_entry_script_tags('app') }}

{% block javascripts %}{% endblock %}
    </body>
</html>
