{% extends 'base.html.twig' %}


{% block stylesheets %}
    {# <link rel="stylesheet" href="{{ asset('build/css/main_page.css') }}"> #}
{% endblock %}

{% block body %}

<div class="container">

    <div class="row">
        {% for article in articles %}
            <div class="col-md-6">
                <div class="card mb-4 shadow-sm">
                    {% if  article.getBackgroundImage() %}
                        <img src="{{'/article_image/' ~ article.getBackgroundImage()}}" class="image-article" alt="">
                    {% else %}
                        <div class="col-sm-6">
                            <img src="{{'/gfx/empty-image.png'}}" class="image-article" alt="">
                        </div>
                    {% endif %}
                    <div class="card-body">
                    <p class="card-text">
                        {{article.getTitle()}}
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="/article/{{article.id}}" class="btn btn-sm btn-outline-secondary">Przeczytaj</a> <br>
                        {# <button type="button" class="btn btn-sm btn-outline-secondary">View</button> #}
                        {# <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> #}
                    </div>
                    <small class="text-muted">{{article.getDatePublish()|date('Y-m-d')}}</small>
                    </div>
                </div>
                </div>
            </div>
          {% endfor %}

    </div>
</div>
{% endblock %}