{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h4>{{'Dodaj artykul' | trans}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{form_start(form)}}
            <div class="row space-top">
                {{form_row(form.title)}} <br>
            </div>
            <div class="row space-top">
                {{form_row(form.background_image)}}
            </div>
            <div class="row space-top" style="height:400px;">
                
                {{form_label(form.content)}}
                {{form_widget(form.content)}}

                {{form_errors(form.content)}} 
            </div> 
            <br>
            <br>
            <div class="row space-top">
                <div class="col-sm-12">
                    <h5>Tagi</h5>
                </div>
            </div>
            <div class="row space-top">
            
                <ul class="tags list-group" data-prototype="{{ form_widget(form.tags.vars.prototype)|e('html_attr') }}">
                    {% for tag in form.tags %}
                        <li class="list-group-item">
                            {{form_row(tag)}}
                            <button type="button" class="btn btn-danger remove-tag">usuń</button>
                        </li>
                    {% endfor %}
                </ul> 
            </div><br>
            <div class="row space-top">
                <button type="button" class="add_tag_link btn btn-primary">Dodaj tag</button>
            </div>
            <hr>
            <div class="row">
                {{form_row(form.submit)}}
            </div>
            {{form_end(form)}}

        </div>
    </div>
</div>




{% endblock %}
