{% extends 'base.html.twig' %}


{% block body %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h4>Edycja artykułu</h4> <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{form_start(form)}}
            {{form_row(form.title)}} <br>
            <div style="height:400px;">            
                {{form_label(form.content)}}
                {{form_widget(form.content)}}
                {{form_errors(form.content)}}
            </div>
            <br>
            <ul class="tags list-group" data-prototype="{{ form_widget(form.tags.vars.prototype)|e('html_attr') }}">
                {% for tag in form.tags %}
                    <li class="list-group-item">{{form_widget(tag)}}<button type="button" class="btn btn-danger remove-tag">usuń</button></li>
                {% endfor %}
            </ul> <br>
            <button type="button" class="add_tag_link btn btn-primary">Dodaj tag</button>
            <br>
            <br>
            {{form_row(form.submit)}}
            {{form_end(form)}}
        </div>
    </div>
</div>
{% endblock %}