{% extends 'base.html.twig' %}

{% block title %}{{'Article'|trans}}{% endblock%}

{% block body %}
<div class="container article-content">
    {% if article %}
    <div class="row">
        <div class="col-sm-12 blog-main">
            <h3 class="pb-3 mb-4 font-italic border-bottom">
                {{article.getTitle()}}
            </h3>
            <div class="blog-post">
                <p class="blog-post-meta">{{article.getDatePublish()|date('Y-m-d')}} {{'by'|trans}} <a href="#">{{article.getAuthor()}}</a></p>
                <p>
                    <img src="{{'/article_image/' ~ article.getBackgroundImage()}}" class="image-article" alt="">
                </p>
                <p>
                {{article.getContent()}}
                </p>

            </div><!-- /.blog-post -->
            <br>
            {% if is_granted('ROLE_ADMIN') == true %}
            <div class="float-right"> 
                <button class="btn btn-danger" id="article-delete" data-article-id="{{article.id}}">Usuń artykuł</button>
            </div>
            <div class="float-left"> 
                <a href="{{path('edit_article', {'article': article.id})}}" class="btn btn-success" >Edytuj artykuł</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h4>
                {{'Comments'|trans}}
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ form_start(form) }}
            {{ form_row(form.author) }}
            {{ form_row(form.content) }}
            {{ form_end(form) }} <br>
            <div id="commentInfo" class="hidden"></div>
            <div class="loader_box">
                <button id="add-comment" class="btn btn-primary" data-article-id="{{article.id}}">{{'Add comment'|trans}}</button>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <h5>{{'Users comments'|trans}}</h5>
            <ul id="comment_list">
                {% for c in comments %}
                    {% include 'default/comment_row.html.twig' with {'comment':c.comment}%}
                {% endfor %}
            </ul>
        </div>
    </div>
    {% else %}
    <div class="row">
        <h4>
            Brak artykułu
        </h4>
    </div>
    {% endif %}
</div>




{% endblock %}



