


<div class="card">
    <div class="card-body">
        {% if article %}
        <p class="card-text">Ostatnio dodany artykuł</p>
        <h6 class="card-title"> {{article.title}}</h6>
        <a class="btn btn-primary" href="{{path( 'article_details', {'article':article.id } )}}">Podgląd</a>
        {% else %}
        Brak artykułu
        {% endif %}
    </div>
  </div>
